@using Microsoft.AspNet.Identity
@using SeemplestCloud.WebClient.Models.UserManagement

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @{
        if (ViewBag.DisableLanguageChoice == null || ViewBag.DisableLanguageChoice == false)
        {
            Html.Partial("_LanguagesPartial");
        }
        var user = (AppPrincipal)HttpContext.Current.User;
            }


            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-user"></span>
                    &nbsp;@user.Identity.GetUserName()
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#"><span class="fa fa-user"></span>&nbsp;&nbsp;Profil szerkesztése</a></li>
                    @if (user.IsSubscriptionOwner)
                    {
                        <li class="divider"></li>
                        <li ng-class="{active: isActive('InviteUsers')}">
                            <a href="@Url.Action("InviteUsers", "Subscription")">
                                <span class="fa fa-envelope"></span>&nbsp;&nbsp;@Resources.LoginMenu_InviteUsers
                            </a>
                        </li>
                        <li ng-class="{active: isActive('ManageRights')}">
                            <a href="@Url.Action("ManageUserRights", "Subscription")">
                                <span class="fa fa-users"></span>&nbsp;&nbsp;@Resources.LoginMenu_ManageRights
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="fa fa-book"></span>&nbsp;&nbsp;Előfizetés kezelése</a></li>
                        <li><a href="#"><span class="fa fa-certificate"></span>&nbsp;&nbsp;Szolgáltatáscsomag</a></li>
                    }
                    <li class="divider"></li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()">
                            <span class="fa fa-sign-out"></span>&nbsp;&nbsp;Log off
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @Html.Partial("_LanguagesPartial")
        <li ng-class="{active: isActive('SignUp')}">@Html.ActionLink(Resources.HomeMenu_Register, "SignUpIndex", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li ng-class="{active: isActive('Login')}">@Html.ActionLink(Resources.HomeMenu_Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
