@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (ViewBag.DisableLanguageChoice == null || ViewBag.DisableLanguageChoice == false)
        {
            Html.Partial("_LanguagesPartial");
        }
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @Html.Partial("_LanguagesPartial")
        <li ng-class="{active: isActive('SignUp')}">@Html.ActionLink(Resources.HomeMenu_Register, "SignUpIndex", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li ng-class="{active: isActive('Login')}">@Html.ActionLink(Resources.HomeMenu_Login, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
