@using Younderwater.Builders
@using Younderwater.Builders.Infrastructure
@using Younderwater.Builders.NgBsMvc
@using Younderwater.Webclient.Models
@model  RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="row" data-active-menu="Register" data-active-title="Register as a new user">
    <div class="col-md-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                Please specify your <strong>user name</strong>, <strong>email</strong>, and <strong>password</strong>
                to be used for your local account. Later, you'll be able to bind external logins,
                such as Google, Facebook, Twitter, or Microsoft to your local account.
            </div>
            <div class="panel-body">
                @using (var f = Html.Begin(new NgBsMvcForm("registerForm", "Register", "Account").Horizontal().LabelMd(4).InputMd(8)))
                {
                    @Html.AntiForgeryToken()
                    @Html.BsDismissibleValidationSummary()

                    @f.InputFor(m => m.UserName, autoFocus: AutoFocus.OnFormValid, validate: Validate.WhenDirty)
                    @f.InputFor(m => m.Email, autoFocus: AutoFocus.OnFormValid, validate: Validate.WhenDirty)
                    @f.InputFor(m => m.Password, autoFocus: AutoFocus.OnFormInvalid, validate: Validate.WhenDirty)
                    @f.InputFor(m => m.ConfirmPassword, validate: Validate.WhenDirty)
                    @f.SubmitButton("Register", BsButtonTheme.Primary)
                }
            </div>
        </div>
    </div>
</div>
