@using Younderwater.Builders
@using Younderwater.Builders.Infrastructure
@using Younderwater.Builders.NgBsMvc
@using Younderwater.Webclient.Models
@model ChangePasswordViewModel

<div class="row" data-active-menu="ManageUser" data-active-title="Change your password">
    <section class="col-md-10" id="loginForm">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>For security reasons, you have to specify your current password.</h4>
            </div>            
            <div class="panel-body">
                @using (var f = Html.Begin(new NgBsMvcForm("changePasswordForm", "ChangePassword", "Manage").Horizontal().LabelMd(3).InputMd(9)))
                {
                    @Html.AntiForgeryToken()

                    @Html.BsDismissibleValidationSummary()

                    @f.InputFor(m => m.OldPassword, autoFocus: AutoFocus.OnFormInvalid, validate: Validate.WhenDirty)
                    @f.InputFor(m => m.NewPassword, validate: Validate.WhenDirty)
                    @f.InputFor(m => m.ConfirmPassword, validate: Validate.WhenDirty)
                    @f.SubmitButton("Change Password", BsButtonTheme.Primary)
                }
            </div>
        </div>
    </section>
</div>
