@using SeemplesTools.HtmlBuilders.Bs
@using SeemplesTools.HtmlBuilders.Infrastructure
@using SeemplesTools.HtmlBuilders.Ng
@using SeemplesTools.HtmlBuilders.NgBsMvc
@using Younderwater.Webclient.Models
@model SetPasswordViewModel

<div class="row" data-active-menu="ManageUser" data-active-title="Set your password">
    <section class="col-md-10" id="loginForm">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>Add a password to your local account so you can log in without an external login.</h4>
            </div>
            <div class="panel-body">
                @using (var f = Html.Begin(new NgBsMvcForm("setPasswordForm", "SetPassword", "Manage").Horizontal().LabelMd(3).InputMd(9)))
                {
                    @Html.AntiForgeryToken()
                    @Html.BsDismissibleValidationSummary()

                    @f.InputFor(m => m.NewPassword, autoFocus: AutoFocus.OnFormInvalid, validate: ValidationOption.WhenDirty)
                    @f.InputFor(m => m.ConfirmPassword, validate: ValidationOption.WhenDirty)
                    @f.SubmitButton("Set Password", BsButtonTheme.Primary)
                }
            </div>
        </div>
    </section>
</div>
