@using Microsoft.Owin.Security
@using SeemplesTools.HtmlBuilders.Bs
@using SeemplesTools.HtmlBuilders.Infrastructure
@using SeemplesTools.HtmlBuilders.Ng
@using SeemplesTools.HtmlBuilders.NgBsMvc
@using AutoFocus = SeemplesTools.HtmlBuilders.Infrastructure.AutoFocus
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<div class="row" data-active-menu="LogIn" data-active-title="@Resources.Login_CurrentSpot">
    <section class="col-md-8" id="loginForm">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h4>@Resources.Login_Use_Local</h4>
            </div>
            <div class="panel-body">
                @using (var f = Html.Begin(new NgBsMvcForm("loginForm", "Login", "Account").Horizontal().LabelMd(3).InputMd(9)))
                {
                    @Html.AntiForgeryToken()
                    @Html.BsDismissibleValidationSummary()

                    @f.InputFor(m => m.Email, autoFocus: AutoFocus.OnFormValid, validate: ValidationOption.WhenDirty)
                    @f.InputFor(m => m.Password, autoFocus: AutoFocus.OnFormInvalid, validate: ValidationOption.WhenDirty)
                    @f.InputFor(m => m.RememberMe, InputTagType.CheckBox)
                    @f.SubmitButton("Login", BsButtonTheme.Primary)
                }
            </div>
            <div class="panel-footer">
                <div>
                    @Html.ActionLink(Resources.Login_SignUp, "SignUp")
                </div>
            </div>
        </div>
    </section>
    @{
        var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        var authenticationDescriptions = loginProviders as AuthenticationDescription[] ?? loginProviders.ToArray();
        if (authenticationDescriptions.Any())
        {
            <section id="socialLoginForm" class="col-md-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>@Resources.Login_Use_External</h4>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("ExternalLogin", "Account", new { Model.ReturnUrl }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("reason", "login")
                            <div id="socialLoginList">
                                <p>
                                    @foreach (var p in authenticationDescriptions)
                                    {
                                        <button type="submit" class="btn loginprovider" id="@p.AuthenticationType" name="provider"
                                                value="@p.AuthenticationType"
                                                data-toggle="tooltip"
                                                title="Log in using your @p.Caption account" style="margin-right: 8px;">
                                            <img width="24" height="24" src="~/Content/Images/LoginProviders/@(p.AuthenticationType).png" style="margin-right: 8px;" />
                                            @p.AuthenticationType
                                        </button>
                                    }
                                </p>
                            </div>
                        }
                    </div>
                </div>
            </section>
        }
    }

</div>
